# {{ ansible_managed }}
# Bridge domain '{{ item }}' ({{ domains[item].name }})

[Match]
Name=br{{ item }}

[Network]
Address={{ domains[item].prefix4 | ansible.utils.ipaddr('net') | ansible.utils.ipaddr(gw_number) }}
{# NOTE: 4294967296 → 1:0000:0000 → fdc0:ffee:a10::1:0:0/64 #}
Address={{ domains[item].prefix6 | ansible.utils.ipmath(4294967296 * gw_number) }}/{{ domains[item].prefix6 | ansible.utils.ipaddr('prefix') }}
{% for extra_prefix6 in domains[item].extra_prefixes6 | default([]) %}
Address={{ extra_prefix6 | ansible.utils.ipmath(4294967296 * gw_number) }}/{{ extra_prefix6 | ansible.utils.ipaddr('prefix') }}
{% endfor %}
IPv6AcceptRA=false

[Route]
Destination={{ domains[item].prefix6 }}
Metric=1024
Table={{ policy_routing_default_uplink_table_value }}

{% if domains[item].extra_prefixes6 | default([]) %}
{% for prefix in domains[item].extra_prefixes6 %}
[Route]
Destination={{ prefix }}
Metric=1024
Table={{ policy_routing_default_uplink_table_value }}

{% endfor %}
{% endif %}

{% if domains_extra_routes[item] | default([]) %}
{% for route in domains_extra_routes[item] %}
[Route]
{% for key, value in route.items() %}
{{ key | capitalize() }}={{ value }}
{% endfor %}
{% endfor %}
{% endif %}

[RoutingPolicyRule]
Table=local
IncomingInterface=br{{ item }}
Priority={{ domains[item].policy_routing_priority | default( policy_routing_default_uplink_priority | default(10000) + 10 ) }}
Type=unreachable
